<!DOCTYPE=html>

<html>
<head>
<script src="/vendor/jquery-1.9.1.min.js"></script>
<script type ="text/javascript">
$(function(){
update();
button_text();

});
</script>
</head>

<body>
<form action='/order' method='post' >
	<div class="form-group">
		<label for="exampleInputEmail1">Name</label>
		<input type="input" class="form-control" name="order[name]" placeholder="Name">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Phone number</label>
		<input type="input" class="form-control" name="order[phone]" placeholder="8 88 888 88">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Address</label>
		<textarea class="form-control" rows="3" name="order[address]"></textarea>
	</div>
	
	<input type="hidden" name="order[order_body]" id="orders_input1"/>
	
	<button class="btn btn-primary">Order</button>
</form>
</body>

</html>